<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' type='text/css' href="/index.css">
</head>
<body>
	<div id='logout' onclick="logout()">Logout</div>
	<div id='username' style='font-weight:bold; font-size:28px;'></div>
	<div id='chats'>
		
	</div>
	<div id='form'>
		<textarea id='chatinput'></textarea>
		<div id='send' onclick="send()">Send</div>
	</div>
	<script src="/jquery3.3.1.js"></script>
	<script src="/index.js"></script>
</body>
</html>